@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #17181a;
    ---main: #03080c;
    --primary: #696ed3;
    --secondary: #dfd0f1;
    --accent: #7437be;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #444444;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #a2a2a2;
    border-radius: 100vh;
    border: 3px solid #444444;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
